.dark._active {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.6);
	z-index: 6;
	top: 0;
	left: 0;
}
//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: $border;
	padding: rem(10) 0;
	background-color: $light-bg;
	z-index: 50;

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue("min-height", 60, 50);
		@media (max-width: $mobile) {
			@include adaptiveValue("gap", 30, 20, 1170, 320, 1);
		}
	}
	// header__column
	&__column {
		flex: 0 0 220px;
		width: 220px;
		@media (max-width: $tablet) {
			flex: 0 0 160px;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 0 120px;
		}
	}
	&__column_wide {
		flex: 1 1 auto;
		@media (max-width: $tablet) {
			flex: 1 1 auto;
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 auto;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 24, 20, 1170, 375, 1);
		font-weight: 600;
		line-height: 1.4;
		z-index: 2;
		transition: color 0.2s ease-in;
		span {
			color: $yellow;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $yellow;
			transition: width 0.2s;
		}

		&:hover::after {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__icons
	&__icons {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 20, 15, 1170, 375, 1);
		//flex: 0 0 150px;
		//width: 150px;
	}
	// .header__icon
	&__icon {
		font-size: rem(20);
		color: $mainColor;
		cursor: pointer;
		transition: color 0.3s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .header__icon_circle
	&__icon_circle {
		@extend %ic;
		@extend ._icon-info;
	}
	// .header__icon_search
	&__icon_search {
		&:before {
			@extend %ic;
			@extend ._icon-search;
		}
	}
	// .header__icon_user
	&__icon_user {
		@extend %ic;
		@extend ._icon-register;
	}
}
.menu {
	//flex: 1 1 auto;
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		margin: 0 10px;
		@media (max-width: $mobile) {
			margin: 0;
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: 0;
			left: -120%;
			right: 0;
			@include adaptiveValue("padding-top", 120, 80);
			padding-bottom: rem(30);
			padding-right: rem(15);
			padding-left: rem(15);
			background-color: $white;
			transition: left 0.3s ease-in;
			// Плашка под которой будет меню проезжать
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				left: -120%;
				top: 0;
				transition: left 0.3s ease-in;
				@include adaptiveValue("min-height", 80, 70);
				background-color: $white;
				//border-bottom: $border;
			}
			.menu-open & {
				left: 0;
				&::before {
					content: "";
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 30, 20, 1170, 768, 1);
		row-gap: rem(10);

		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: rem(30);
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		position: relative;
		text-transform: capitalize;
		font-size: 16px;
		transition: color 0.3s ease-in;

		&::after {
			content: "";
			position: absolute;
			bottom: -3px;
			height: 2px;
			width: 0;
			left: 0;
			background-color: $mainColor;
			transition: width 0.3s ease-in;
		}
		&:hover::after {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
	}
}

//====================== SEARCH FORM ==============================================================================
.header {
	// .header__form
	//&__form._active {
	//	display: flex;
	//}
}

.search-form {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	@include adaptiveValue("	width", 800, 320, 1170, 375, 1);
	background-color: $white;
	box-shadow: $box-shadow;
	padding: 10px;
	display: none;
	align-items: center;
	gap: 20px;
	border-radius: 5px;
	animation: fadeIn 0.2s linear;
	&._active {
		display: flex;
	}

	// .search-form__input
	&__input {
		width: 100%;
		padding: 8px;
		background-color: $light-bg;
		color: $mainColor;
		&::placeholder {
			color: $mainColor;
		}
	}
	// .search-form__label
	&__label {
	}
	// .search-form__label_search
	&__label_search {
		@extend %ic;
		@extend ._icon-search;
		cursor: pointer;
		margin: 0 10px 0 0;
		transition: color 0.3s;
		font-size: rem(20);
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
}

//====================== LOGIN FORM ==============================================================================
.login-form {
	position: absolute;
	top: 200%;
	left: 50%;
	display: none;
	transform: translateX(-50%);
	@include adaptiveValue("	width", 550, 320, 1170, 375, 1);
	background-color: $white;
	box-shadow: $box-shadow;
	padding: 35px 25px;
	border-radius: 5px;
	text-align: center;
	animation: fadeIn 0.2s linear;
	&._active {
		display: block;
		z-index: 7;
	}
	@keyframes fadeIn {
		0% {
			top: 50%;
			opacity: 0;
		}
	}
	// .login-form__title
	&__title {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: rem(26);
		//padding: 15px;
	}
	// .login-form__box
	&__box {
		width: 100%;
		padding: 8px 10px;
		background-color: $light-color;
		font-size: rem(16);
		color: $mainColor;
		margin-top: 15px;
		margin-bottom: 20px;
	}
	// .login-form__flex
	&__flex {
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 10px 0;
	}
	// .login-form__input
	&__input {
	}
	// .login-form__label
	&__label {
		font-size: 16px;
		cursor: pointer;
		text-transform: capitalize;
	}
	// .login-form__link
	&__link {
		font-size: 16px;
		margin-left: auto;
		text-transform: capitalize;
		transition: color 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
				text-decoration: underline;
			}
		}
	}
	// .login-form__button
	&__button {
		display: inline-block;
		background-color: $btn-bg-color;
		color: $white;
		font-size: 18px;
		padding: 10px 12px;
		margin-top: 25px;
		margin-bottom: 20px;
		cursor: pointer;
		text-transform: capitalize;
		transition: background-color 0.3s, color 0.3s;
		font-weight: 600;
		width: 100%;
		letter-spacing: 1.5px;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(245, 191, 35, 0.6);
				color: $mainColor;
			}
		}
	}
	// .login-form__text
	&__text {
		font-size: 16px;
		padding-top: 10px;
	}
	// .login-form__create
	&__create {
		text-transform: capitalize;
		color: $yellow;
		transition: color 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
				text-decoration: underline;
			}
		}
	}
}

//====================== SIDE PANEL ==============================================================================
.contact-info {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: rem(400);
	padding: 0 20px;
	padding-top: 100px;
	background-color: $white;
	text-align: center;
	display: none;
	z-index: 100;
	animation: fadeRight 0.2s linear;
	&._active {
		display: block;
	}
	@keyframes fadeRight {
		0% {
			right: 50%;
			opacity: 0;
		}
	}

	// .contact-info__arrow
	&__arrow {
		position: absolute;
		top: 20px;
		right: 185px;
		cursor: pointer;
		transition: color 0.2s ease-in, transform 0.2s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
				transform: rotate(90deg);
			}
		}
	}
	// .contact-info__icon
	&__icon {
		// .contact-info__icon_close
		&_close {
			@extend %ic;
			@extend ._icon-chevron-down;
			font-size: rem(18);
		}
	}
	// .contact-info__info
	&__info {
		margin-bottom: 25px;
	}
	// .contact-info__icon
	&__icon {
		margin-bottom: 15px;
		cursor: pointer;
		transition: color 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}

		// .contact-info__icon_phone
		&_phone {
			@extend %ic;
			@extend ._icon-tel;
			font-size: rem(30);
		}
		// .contact-info__icon_envelope
		&_envelope {
			@extend %ic;
			@extend ._icon-envelope;
			font-size: rem(35);
		}
		// .contact-info__icon_place
		&_place {
			@extend %ic;
			@extend ._icon-place;
			font-size: rem(35);
		}
	}

	// .contact-info__title
	&__title {
		font-size: rem(22);
		text-transform: capitalize;
		margin-bottom: 15px;
	}
	// .contact-info__address
	&__address,
	// .contact-info__email
	&__email,
	// .contact-info__number
	&__number {
		font-size: rem(18);
	}

	// .contact-info__number
	&__number {
		transition: color 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
				text-decoration: underline;
			}
		}
	}
	// .contact-info__email
	&__email {
		transition: color 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
				text-decoration: underline;
			}
		}
	}
	// .contact-info__address
	&__address {
	}
}
.share {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: rem(25);
	border-top: $border;

	// .share__link
	&__link {
		margin-top: 20px;
		transition: color 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
		// .share__link_github
		&_github {
			@extend %ic;
			@extend ._icon-github-social;
			font-size: rem(30);
		}
		// .share__link_telegram
		&_telegram {
			@extend %ic;
			@extend ._icon-telegram-social;
			font-size: rem(30);
		}
		// .share__link_facebook
		&_facebook {
			@extend %ic;
			@extend ._icon-facebook-social;
			font-size: rem(30);
		}
	}
}

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $yellow;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
				background-color: #0000ff;
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
				background-color: #0000ff;
			}
		}
	}
}
